{% extends '_layout.html.twig' %}

{% block body %}
<section class="landing-bg">
    <div class="container text-center intro-content text-white">
        <h1>About</h1>
        <p class="lead">Our Mission</p>
        <p>
            To provide you with the very finest from the world of natural rose oils with a touch of Bulgarian folklore.
            <br>
            We have carefully researched and partnered with only the selected few of local manufacturers who can guarantee you the ultimate experience.
        </p>
    </div>
</section>
<section class="page-content container">
    <h3 class="text-center">Partners</h3>
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 70%;"></div>
        <div class="progress-bar" role="progressbar" style="width: 50%;"></div>
    </div>
    <div class="row">
        <div class="col-sm-7 text-right">
            <h4>Lema</h4>
            <p>‌For more than 40 years we have been working in the area of ethereal-oil production. As by volume of production it is unlikely that we are one of the top ten in the industry, but as for the level of quality we do our best to keep to the highest position. It's not only our long experience that helps us. It's also the fact that we live and work in the heart of the Rose Valley - where the soil, the climate, the air and the water are the best for the growth of the Oil Roses and for the production of the unsurpassed Bulgarian rose oil (otto). We have our own plantations and production facilities. Our new Distillery and rose plantation are located in the southern industrial zone of Kazanlak, the right side of the road Sofia - Bourgas only 1600 meters south of the Grand Hotel Kazanlak. We produce mainly: rose oil (otto), rose water, lavender oil, other ethereal oils, different types of perfume essences, embroidered traditional cloths, and many other souvenirs related to the roses and the Bulgarian way of living. Our products can be seen in almost every souvenir store in Bulgaria. We export mainly rose and lavender oil, rose water and other to Europe, Asia and America.</p>
        </div>
        <div class="col-sm-5">
            <h4>Damascena Rozbio</h4>
            <p>‌We are a family company founded in 2009 in Kazanlak, Bulgaria, specializing in the cultivation, growth and production of rose and lavender essential oils, floral waters, dried flowers and cosmetic products. The gardens are bio certified, situated in the Rose Valley alongside the company’s own distillery where the harvest is processed immediately after being hand-picked. The company’s priority is toward environmental preservation, providing safe working conditions and products of highest quality. The products’ distingushing properties have been confirmed consistently by laboratory analysis. We have satisfied customers from France, Germany, Switzerland, Austria, UK, USA, China, Russia, Norway and other countries.</p>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 70%;"></div>
        <div class="progress-bar bg-success" role="progressbar" style="width: 50%;"></div>
    </div>
</section>
{% endblock %}